
:root {
    --checkBoxHeight: 50%;
    --checkBoxWidth: calc((var(--todoHeight)*var(--checkBoxHeight)));
    --todoHeight: 7vh;
}

body {
    margin: 0%;
}

.bigContainer {
    height: 100%;
}

.header {
    height: var(--todoHeight);
    background-color: rgb(211, 64, 64);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    
    display: flex;
    flex-direction: row;

}

.leftTab {
    height: 93vh;
    width: 20%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px;
}

.todosContainer {
    height: 100vh;
    width: 80%;
    background-color: rgb(39, 107, 107);
}
.upper {
    display: flex;
    justify-content: space-between;
}

.todo {
    height: 7vh;
    background-color:  aquamarine;
    display: flex;
    border: 0.5px black solid;
    display: flex;
    justify-content: space-between;

}
.checkBox {
    width: 50%;
    height: 60%;
    border-radius: 25%;
}
.headerLeft {
    display: flex;
    position: absolute;
    left: 45vw;
}
.inputContainer {
    display: flex;
    flex-direction: column;
}

.fixed {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.fixedTabs {
    border: 0.5px black solid;
    background-image: linear-gradient(to left, rgb(73, 44, 78), rgb(106, 172, 216));
    width: fit-content;
    padding: 5px;
    padding-right: 15px;
    
}
.otherSites {
    margin: 20px;
    margin-left: 2px;
    margin-bottom: 3px;
    cursor: pointer;
    top: 0px;
    left: 33vw;
    position: absolute;
}

.fade {
    display: none;
}

.fade.visible {
    display: block;
    position: absolute;
    left: 33vw;
    top: 20px;
}

.sites {
    border: 0.5px solid black;
    margin: 5px;
    padding: 5px;
    position: relative;
    background-color: antiquewhite;
    top: 20px;

}

.tictactoe {
    border-bottom: 0.5px black solid;
    margin-bottom: 5px;
    padding-bottom: 5px;
    color: black;
}

.restaurant {
    color: black;
}

.tictactoe:hover, .restaurant:hover {
    color: rgb(50, 114, 211);
    cursor: pointer;
}

.blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    cursor: default;
}
.favoritesContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%
}